li {
	padding: 15px;
	margin: 15px;
	background: #ffffff;
	list-style: none;
}
  
  ul {
	  list-style: none;
  }
  
  .label {
	font-weight: bold;
  }
  
  .center {
	  text-align: center;
  }
  
  .right {
	  align-content: right;
  }
  
  img {
	  align-content: center;
  }
  
  h1 {
	  text-align: center;
	  color: #eceff1;
	  border-style: dotted 2px;
  }
  
  h2 {
	  text-align: center;
	  color: #eceff1;
	  text-decoration: none;
  }
  
  .formClass {
	  margin: auto;
	width: 60%;
	border: 3px solid #73AD21;
	  padding: 10px;
	  color: #ffffff;
  }
  
  .form-group {
	margin-bottom: 25px;
  }
  
  .btn-primary {
	  border-radius: 0px;
	  background-color: darkgreen;
	  float: right;
	  margin-top: -26px;
	  color: #ffffff;
  }
  
  .btn-primary-submit {
	  border-radius: 0px;
	  background-color: darkgreen;
	  margin-top: -26px;
	  color: #ffffff;
  }
  
  html, body{
	  height: 100%;
  }
  body { 
	  background-image: url(https://images3.alphacoders.com/215/thumb-1920-21575.jpg) ;
	  background-position: center center;
	  background-repeat:  no-repeat;
	  background-attachment: fixed;
	  background-size:  cover;
	  background-color: #000000;  
  }
  
  div, body{
	  margin: 0;
	  padding: 0;
	  font-family: exo, sans-serif;
	  color: black;
  }
  
  .footer {
	  text-align: center;
	  color: #eceff1;
  }
  .wrapper {
	  height: 100%; 
	  width: 100%; 
	  }
  
  .message {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%; 
	height:50%;
	bottom: 0; 
	display: block;
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	color: #5d1c1a;
	padding: 0.5em;
  }
  
  .eaten{
	  background-color: green;
	  color: cadetblue;
	  text-decoration: line-through;
  }
  
  #header{
	  text-decoration: underline overline;
	  color: #eceff1;
	  background: darkgreen;
	  width: 100%;
	  height: 50px;
	  padding-top: 8px;
  }
  
  #headleft{
	  background: #5d1c1a;
	  width: 100%;
	  height: 50px;
	  text-decoration: underline;
	  padding-top: 8px;
  }
  
  .burgerav{
	  background: #5d1c1a;
	  color: white;
	  font-size: 17px;
	  border-style: dotted;
  }
  p{
	  color: #eceff1;
  }